<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head ('Ocorrências')">
</head>

<body>

<!-- START NAV -->
<nav th:replace="fragments/nav :: nav" >
</nav>
<!-- END NAV -->

<div class="container">
    <div class="columns">
        <div class="column is-9">
            <div class="notification is-success" th:if="${message}" role="alert">
                <button class="delete" data-dismiss="alert"></button>
                <span th:text="${message}"></span>
            </div>

            <form th:action="@{/ocorrencias}" th:object="${ocorrencia}" method="post">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label" for="telefone">Telefone</label>
                            <div class="control">
                                <input id="telefone" class="input" type="text" th:field="*{telefone}">
                            </div>
                            <p
                                class="help is-danger"
                                th:each="err : ${#fields.errors('telefone')}"
                                th:text="${err}"
                            >invalida</p>
                        </div>

                        <div class="field">
                            <label class="label" for="nomeSolicitante">Solicitante</label>
                            <div class="control">
                                <input id="nomeSolicitante" class="input" type="text" th:field="*{nomeSolicitante}">
                            </div>
                            <p
                                class="help is-danger"
                                th:each="err : ${#fields.errors('nomeSolicitante')}"
                                th:text="${err}"
                            >invalida</p>
                        </div>

                        <div class="field">
                            <label class="label" for="endereco">Endereço</label>
                            <div class="control">
                                <input id="endereco" class="input" type="text" th:field="*{endereco}">
                            </div>
                            <p
                                class="help is-danger"
                                th:each="err : ${#fields.errors('endereco')}"
                                th:text="${err}"
                            >invalida</p>
                        </div>

                        <div class="field">
                            <label class="label" for="numero">Número</label>
                            <div class="control">
                                <input id="numero" class="input" type="text" th:field="*{numero}">
                            </div>
                            <p
                                class="help is-danger"
                                th:each="err : ${#fields.errors('numero')}"
                                th:text="${err}"
                            >invalida</p>
                        </div>

                        <div class="field">
                            <label class="label" for="bairro">Bairro</label>
                            <div class="control">
                                <input id="bairro" class="input" type="text" th:field="*{bairro}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="referencia">Referência</label>
                            <div class="control">
                                <input id="referencia" class="input" type="text" th:field="*{referencia}">
                            </div>
                        </div>


                        <input type="submit" class="button is-primary" value="Salvar" >
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label" for="nomePaciente">Paciente</label>
                            <div class="control">
                                <input id="nomePaciente" class="input" type="text" th:field="*{nomePaciente}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="referencia">Sexo</label>
                            <div class="control">
                                <input id="sexo" class="input" type="text" th:field="*{sexo}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="idade">Idade</label>
                            <div class="control">
                                <input id="idade" class="input" type="text" th:field="*{idade}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="queixaPaciente">Queixa do Paciente</label>
                            <div class="control">
                                <input id="queixaPaciente" class="input" type="text" th:field="*{queixaPaciente}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="emergenciaMedica">Emergência médica</label>
                            <div class="control">
                                <input id="emergenciaMedica" class="input" type="text" th:field="*{emergenciaMedica}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="observacoes">Observações</label>
                            <div class="control">
                                <input id="observacoes" class="input" type="text" th:field="*{observacoes}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script async type="text/javascript" src="/js/jquery.min.js"></script>
<script async type="text/javascript" src="/js/bulma.js"></script>

</body>
</html>
